body {
  background-image: url(https://ca-times.brightspotcdn.com/dims4/default/14e1610/2147483647/strip/true/crop/2048x1320+0+0/resize/840x541!/quality/90/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2F8e%2F54%2F9835df044d729ee6adc9fb785ae0%2Fnfl1.png);
  background-size: cover;
}
.home {
  height: 50px;
  width: 50px;
}
.nav ul {
  position: fixed;
  list-style-type: none;
  margin: 0px;
  padding: 0;
  background-color: #b5aeaf;
  z-index: 200;
}
li a {
  display: inline-block;
  color: #000;
  padding: 16px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #88696b;
  color: white;
}

/* nav end */
.top-bar {
  width: 100%;
}

.nav li {
  display: inline-block;
}

.reservation {
  height: 100%;
  width: 100%;
  color: #f0ebe5;
  font-size: 30px;
  display: inline-block;
}

.list {
  display: flex;
  font-size: 40px;
  font-family: serif;
  color: seashell;
  background-color: #644a5f;
}
.list > ul,
.list > div {
  display: inline-block;
  width: 100%;
}

.list ul {
  list-style: none;
  text-align: center;
  margin-top: 100px;
}

/* nav */
.nav ul {
  position: fixed;
  list-style-type: none;
  margin: 0px;
  padding: 0;
  background-color: #b5aeaf;
}
li a {
  display: inline-block;
  color: #000;
  padding: 16px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #0a23af;
  color: white;
}

li a:hover:not(.active) {
  background-color: lightpink;
  color: white;
}

:root {
  --img-width: 600px;
  --img-height: 500px;
}

.carousel {
  height: var(--img-height);
  width: var(--img-width);
  overflow: hidden;
  margin: auto;
  margin-top: 20px;
  border: 4px solid white;
}

.carousel-item img {
  height: var(--img-height);
  width: var(--img-width);
  object-fit: cover;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;

  background-image: none;
}

.carousel-control-next-icon:after {
  content: "\2605";
  font-size: 55px;
  color: rgb(21, 36, 243);
}

.carousel-control-prev-icon:after {
  content: "\2605";

  font-size: 55px;
  color: rgb(21, 36, 243);
}
.carousel .carousel-inner p {
  color: white;
  font-size: larger;
  font-weight: bold;
  text-shadow: 1px 1px blue;
}
.carousel .carousel-inner h3 {
  color: rgb(9, 9, 133);
  font-size: 45px;
  text-shadow: 1px 1px white;
}
h1{
    color: rgb(241, 235, 235);
    margin-top: 100px;
    text-align: center;
    margin-bottom: 0;
    text-shadow: 2px 2px black;
}
