body {
  background-image: url(https://blog.ticketmaster.com/wp-content/uploads/AP_718055504797.jpg);
  background-size: cover;
}
.home {
  height: 50px;
  width: 50px;
}
.nav ul {
  position: fixed;
  list-style-type: none;
  margin: 0px;
  padding: 0;
  background-color: #b5aeaf;
  z-index: 200;
}
li a {
  display: inline-block;
  color: #000;
  padding: 16px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #88696b;
  color: white;
}

/* nav end */
.top-bar {
  width: 100%;
}

.nav li {
  display: inline-block;
}

.reservation {
  height: 100%;
  width: 100%;
  color: #f0ebe5;
  font-size: 30px;
  display: inline-block;
}

.list {
  display: flex;
  font-size: 40px;
  font-family: serif;
  color: seashell;
  background-color: #644a5f;
}
.list > ul,
.list > div {
  display: inline-block;
  width: 100%;
}

.list ul {
  list-style: none;
  text-align: center;
  margin-top: 100px;
}

/* nav */
.nav ul {
  position: fixed;
  list-style-type: none;
  margin: 0px;
  padding: 0;
  background-color: #b5aeaf;
}
li a {
  display: inline-block;
  color: #000;
  padding: 16px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #0a23af;
  color: white;
}

li a:hover:not(.active) {
  background-color: hotpink;
  color: white;
}

:root {
  --img-width: 50vw;
  --img-height: 60vh;
}

.carousel {
  height: var(--img-height);
  width: var(--img-width);
  overflow: hidden;
  margin: auto;
  margin-top: 20px;
  border: 4px solid white;
}

.carousel-item img {
  height: var(--img-height);
  width: var(--img-width);
  object-fit: cover;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;

  background-image: none;
}

.carousel-control-next-icon:after {
  content: "\2605";
  font-size: 55px;
  color: rgb(21, 36, 243);
}

.carousel-control-prev-icon:after {
  content: "\2605";

  font-size: 55px;
  color: rgb(21, 36, 243);
}
.carousel .carousel-inner p {
  color: white;
  font-size: larger;
  font-weight: bold;
  text-shadow: 1px 1px blue;
}
.carousel .carousel-inner h3 {
  color: rgb(9, 9, 133);
  font-size: 45px;
  text-shadow: 1px 1px white;
}
h1{
    color: rgb(241, 235, 235);
    margin-top: 100px;
    text-align: center;
    margin-bottom: 0;
    text-shadow: 2px 2px black;
}

.cowboys-about{
  color: white;
  padding: 20px;
  font-size: 20px;
  text-shadow: 2px 2px blue;
}

/* Footer Start */
#footer .column{
  flex-grow: 1;
   
   
 
 }
 .footer-groups{
   display: flex;
   justify-content: space-between;
  
 }
 #footer{
   
   font-size: 25px;
   padding-top: 20px;
   color: silver;
   text-shadow: 2px 2px  black;
   padding: 80px;
   background-image: url(https://wallpapercave.com/wp/wp2770319.jpg);
   background-size: cover;
   border-left: red;
   border-right: red;
   
 }
 #footer ul{
   list-style: none;
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: bold;
 
 }
 #footer li{
   margin: 15px;
   transition: all .2s ease-in-out;
 
 }
 #footer li:hover{
   cursor: pointer;
   text-shadow: 1px 1px var(--color-white);
   margin: 15px;
   font-size:35px ;
 
 }
 .footer-groups>div:nth-child(2){
   text-align: center;
 }
 
 .footer-groups>div:nth-child(3){
   text-align: right ;
 
  
 }
 
 .footer-groups>div:nth-child(1) .hr-container{
   text-align: center;
   justify-content: flex-start;
 }
 .footer-groups>div:nth-child(2) .hr-container{
   text-align: center;
   justify-content: center;
 }
 
 .footer-groups>div:nth-child(3) .hr-container{
   text-align: right ;
   justify-content: flex-end;
  
 }
 
 .footer-groups>div{
   padding: 0 50px;
 }
 #footer .column hr{
   display: block; height: 1px;
     border: 0; border-top: 1px solid  var(--color-red);
     margin: 1em 0; padding: 0;
     width: 100px;
 
 }
 
 .hr-container {
   display: flex;
   justify-content: flex-end;
 }
 #footer .footer-groups>div:nth-child(2) li{
   margin-bottom: 30px;
   text-align: center;
 }
 